
:root {
  --primary-color: #4A90E2; 
  --secondary-color: #555; 
  --background-color: #f0f0f0; 
  --font-primary: 'Helvetica Neue', sans-serif; 
  --font-secondary: 'Arial', sans-serif;
  --border-radius: 8px; 
  --box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  padding: 2%;
}

.content {
  max-width: 1200px;
  width: 90%; 
  padding: 20px;
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin: 20px;
}

.info-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: left;
  margin: 20px;
  border: 1px solid #eee; 
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.image-container {
  width: 100%; 
  overflow: hidden;
}

.text-container {
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; 
}

img:hover {
  transform: scale(1.05);
}

h1, h2 {
  font-family: var(--font-primary);
  color: var(--primary-color);
}

p {
  font-family: var(--font-secondary);
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

/* Responsive design adjustments */
@media (min-width: 768px) {
  .info-container {
    flex-direction: row; 
  }

  .image-container, .text-container {
    flex: 1; 
  }
}
